<!DOCTYPE html>
<html>
  <head>
    <%- include("template/head")%>
    <style>
      .bg {
        position: relative;
        background-image: url("/public/image/banner.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        height: 100vh;
        margin: auto;
      }

      .info {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 300px;
        width: 400px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 5%;
        font-size: 18px;
        line-height: 2em;
        padding-top: 20px;
      }
    </style>
  </head>

  <body>
    <%- include("template/navbar") %>
    <div class="bg">
      <div class="info">
        <div class="card-body mt-2">
          <h3 class="card-title text-center mb-4">About Me</h3>
          <p class="card-text text-center">
            一個熱愛樂高及動物的女子 <br />
            嘗試用程式所學搭建屬於自己的碎碎念小天地 <br />
            紀錄生活中發生的故事
          </p>
        </div>
      </div>
    </div>

    <%- include("template/bundle") %>
  </body>
</html>
