<div
  class="bg"
  style="
    position: relative;
    background-image: url('/public/image/bg2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 50vh;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: multiply;
  "
>
  <div
    class="info"
    style="
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 300px;
      width: 400px;
      color: white;
      text-align: center;
    "
  >
    <% if(tag) { %>
    <h1># <%= tag %></h1>
    <% } else { %>
    <h1>Hsinyun's Blog</h1>
    <p>
      一個熱愛樂高及動物的女子 <br />
      ...
    </p>
    <% } %>
  </div>
</div>
